# Katalogi ROS2 i colcon
build/
install/
log/
# Pliki pythona i środowiska
__pycache__/
*.pyc
.vscode/
# Wszelkie wirtualne środowiska (jeśli w przyszłości utworzysz wewnątrz)
venv/
.env/
#YOLO
yolo26m-pose.pt

